<div class="container page-container">
  <div class="row text-center justify-content-center">
    <div class="col-md-8">
      <p class="p-lead mb-3">Projects</p>
      <h1>The Sample Room</h1>
      <p class="lead">Get a glimpse on some of my work!</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>.NET Banking Solution</h3>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center">
              <div class="card-header-fa-icons">
                <a  class="pr-1" href="https://github.com/ashar340/BankApp" target="_blank">
                  <i class="fab fa-github fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">.NET WPF C#</h6>
          <p class="card-text">A serialized C# Banking application implementing GUI with an ability to CRUD with branches and customers, and manage transactions (Debit, Credit).</p>
          <ul>
            <li>Make Transactions</li>
            <li>CRUD Branch and it's Customers</li>
          </ul>
          <p></p>
          <a href="https://github.com/ashar340/.NETBankApp" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12">
              <div class="card-title">
                <h3>The Healthy Theory</h3>
              </div>
              
            </div>
            
          </div>
          
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">MEAN Stack</h6>
          <p class="card-text">
          <p><strong>Current Capstone Project</strong> Ionic-Angular based app which enables users to help connect with dieticans/nutritionists nearby to help them achieve their goals bringing them one step closer towards a healthy lifestyle. Data for this application is
            hosted on a MongoDB Atlas database which connected to the Angular/Ionic client which was can be used cross-platform (Mobile- Android/iOS and Web).</p>

          <p>The design analysis and techniques of the project included UML using Visual Paradigm to layout the DB entities
            before they were put into development, the Software Development Life Cycle methodology,
            Agile project management using Azure DevOps Boards and tools to manage development phases.</p>
          <ul>
            <li>Connect/View nearby dietician/nutritionists</li>
            <li>Make an appointment</li>
            <li>View Information about the dietician which includes their Specializations, Skills and Services offered</li>
          </ul>
          <p></p>
          <a href="../../assets/images/Paper_Prototypes.zip" target="_blank" class="card-link">Paper Prototypes</a>
          <a href="https://github.com/ashar340/COMP231_TheHealthyTheory" target="_blank" class="card-link">View on Github</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>iCentennial - An intelligent means to accomlish an exceptional on-campus experience</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Business Solution</h6>
          <p class="card-text">
            Proposed a Business solution for Software Engineering Methodologies course to Centennial College</p>
          <h5>Features</h5>
          <ul>
            <li>On campus navigation</li>
            <li>School residence reservation system</li>
            <li>Chat rooms</li>
            <li>Lost and Found system</li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
</div>