<div class="container page-container">
  <div class="row text-center justify-content-center">
    <div class="col-md-8">
      <p class="p-lead mb-3">Technologies</p>
      <h1>The Toolbox</h1>
      <p class="lead">
        All the ingredients that make up web and software applications
      </p>
    </div>
  </div>

  <div class="row align-items-end">
    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/js.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Javascript</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/typescript.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Typescript</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/react.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>React</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/elm-logo.png" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Elm</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/angular.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Angular</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/node.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Node</h5>
      </div>
    </div>


  </div>

  <div class="row align-items-end">
     <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/haskell-logo.png" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Haskell</h5>
      </div>
    </div>
    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/CSharp.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>C#</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/cpp.png" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>C++</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/html.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>HTML</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/css.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>CSS</h5>
      </div>
    </div>

    <div class="col-4 col-sm-3 col-md-2 pt-5 align-self-center">
      <img src="/assets/images/tech/git.svg" class="img-fluid" />
      <div class="logo-info text-center pt-2">
        <h5>Git</h5>
      </div>
    </div>
  </div>
</div>
