<div class="container page-container">
  <div class="row text-center justify-content-center">
    <div class="col-md-8">
      <h1>Experience</h1>
      <p class="lead">Here's (some of) my work experience!</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>
                  Full Stack Developer, ChannelAssist Inc.
                </h3>
                <h6 class="card-subtitle mb-2 text-muted">
                  Aug 2020 - Present
                </h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center"></div>
          </div>
        </div>
        <div class="card-body">

          <ul>
            <li>
              Developed a Generic Rules Engine from Scratch with an ability to
              evaluate complex business rules through token parsing and
              evaluating logical operational expression trees.
            </li>
            <li>
              Spearheaded the Claims Redesign Project for Fortune 500 client by
              tackling the inefficiencies in the unstructured underlying
              implementation.
            </li>
            <li>
              Built a declarative, and reusable SPA using RxJS, Ramda,
              UnderScore, Immutable.
            </li>
            <li>
              Worked with designers to improve the wireframes and visual
              designs.
            </li>
            <li>
              Added logging metrics, soft-launched the product and presented to
              senior management.
            </li>
            <li>
              Participated and collaborated in Code Reviews,Sprint Planning,
              Stand-ups, Retrospectives through Azure DevOps, in a fast-faced
              Agile environment.
            </li>
            <li>
              Worked on multiple greenfield projects using Angular12, Cypress,
              Enzyme, Webpack, building robust and rich user experiences.
            </li>
            <li>
              Worked on the optimization of Webpack build service workers seeing a
              possibility to make the App a PWA (Progressive Web App) using
              Next.js.
            </li>
            <li>
              Built and deployed RESTful micro-services built upon Azure
              Functions and .NET 5 within a Dockerized environment.
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-10">
              <div class="card-title">
                <h3>Application Developer, CIBC</h3>
                <h6 class="card-subtitle mb-2 text-muted">
                  Jan 2019 - Dec 2019
                </h6>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 text-center"></div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Application Developer</p>
          <ul>
            <li>
              Developed entire suite of UI components for the Client Data
              Integrity Project (CDIP) based on the given UI/UX design to
              achieve the end-goal of client data synchronization across the
              Wealth Management firm.
            </li>
            <li>
              Incorporated accessibility requirements throughout, to conform to
              WCAG2.0 compliance.
            </li>
            <li>
              Participated in an 8-week long Stretch Assignment and proposed
              Accelerate to aid HR by saving hiring costs of $4000 per hire from
              a pool of previous CIBC Early Talent through an MVP to senior
              executives gaining a positive feedback towards execution.
            </li>
            <li>
              Supported Tree Shaking (Dead Code Elimination) phase in order to
              achieve optimal bundle size resulting in 30% faster build times
              and performance.
            </li>
            <li>Tested the Wealth App Migration from end to end.</li>
            <li>
              Reduced cross platform testing time by 50% by implementing a
              multithreaded framework to run JUnit tests in parallel.
            </li>
          </ul>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>
</div>
