<div class="container page-container">
    <div class="row text-center justify-content-center">
      <div class="col-md-8">
       
        <h1>Experience</h1>
        <p class="lead">Here's (some of) my work experience!</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <div class="card-header">
            <div class="row justify-content-between">
              <div class="col-sm-12 col-md-10">
                <div class="card-title">
                  <h3>Application Developer Intern, Canadian Imperial Bank of Commerce (CIBC)</h3>
                  <h6 class="card-subtitle mb-2 text-muted">Jan 2019 - Dec 2019</h6>
                </div>
              </div>
              <div class="col-sm-12 col-md-2 text-center">
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">Front-end Web-Developer</p>
            <ul>
              <li>Designed and developed Content Keys for the Online Brokerage Content Management System.</li>
              <li>CWorked cooperatively with QA, Development, UI/UX and Business to fulfill the established
                requirements.</li>
            <li>Resolved front-end defects for Trade Stocks Overhaul (TSO), incorporated changes with new requirements based on the CRs.</li>
            <li>Developed screens for FSRs/Internal users from scratch being provided with the wireframes, mockups,
                code written produced no defects.</li>
            <li>Integration Testing on the SignOn, TradeStocks component for Investor’s edge, Imperial Service end to
                end.</li>
            <li>Worked on making the application accessible throughout, making them WCAG 2.0 compliance and
                WAVE/AXE acessiblity test friendly.</li>
            <li>My assistance allowed the project to move ahead to the next stage of development on time.</li>
            </ul>
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
    </div>
  <br>
  <br>
    <div class="row text-center justify-content-center">
    <div class="col-md-8">
       
        <h1>Other Experiences</h1>
        
      </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-sm-12 col-md-10">
                  <div class="card-title">
                    <h3>Customer Service Representative (Team Lead), Toronto Tansit Commission (TTC)</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Apr 2018 - Jan 2019</h6>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2 text-center">
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">CSR</p>
              <ul>
                <li>Representing the brand image of the city’s transit system by helping out thousands of commuters taking subway, street cars and busses at major stations such as Union, Dundas, College, Kennedy, etc.</li>
              </ul>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-sm-12 col-md-10">
                  <div class="card-title">
                    <h3>Steering Committee Member (Team Lead), Canadian Imperial Bank of Commerce (CIBC)</h3>
                    <h6 class="card-subtitle mb-2 text-muted">May 2019 - Dec 2019</h6>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2 text-center">
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul>
                <li>Part of two sub-committees - Event and Newsletter Subcommittee</li>
                <li>Responsible for writing content, designing the monthly newsletter issues throughout the term</li>
                <li>Responsible for organizing events for the co-ops throughout their term such as Socials, Meetups and
                    Charity</li>
              </ul>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-sm-12 col-md-10">
                  <div class="card-title">
                    <h3>Online Research Group Member, AirBnb</h3>
                    <h6 class="card-subtitle mb-2 text-muted">May 2019 - Dec 2019</h6>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2 text-center">
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul>
                <li>Provided valued opinions and thoughts forthe hosts and guests around the world </li>
                <li>Provided ideas whichcould make Airbnb a better stay</li>
              </ul>
            </div>
            <div class="card-footer text-muted"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-sm-12 col-md-10">
                  <div class="card-title">
                    <h3>Crew Member, McDonalds Canada</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Jul 2018 - Jan 2019</h6>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2 text-center">
                </div>
              </div>
            </div>
           
          
          </div>
        </div>
      </div>
  </div>