<div class="jumbotron jumbotron-fluid py-6">
  <div class="container page-container position-relative">
    <div class="row">
      <div class="col-md-6 text-center text-md-left align-self-center">
        <h1 class="h0 text-white mb-3">Ananya Sharma, Building Beautiful Software Solutions</h1>
        <p class="text-lead mb-4 text-white">Full-Stack Software Developer focused on producing clean reusable and bug-free code!</p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#modal-contact">Available for hire</button>
        </div>
      </div>
      <div class="col-md-6">
        <img id="home-svg" src="../../assets/images/home/launch.svg"/>
      </div>
    </div>
  </div>
</div>

<div id="sub-head">
  <div class="container">
    <div class="row">
      <div class="sub-contents">
        <p class="intro slate">Revamped React Site</p>
        <p class="statement slate">Currently playing around with react. Checkout the revamped portfolio side made using React!</p>
        <div class="footer-btn">
          <a href="https://musing-bose-aecee1.netlify.com/" data-target="#modal-contact" class="btn btn-lg btn-primary">Visit Site</a>
        </div>
      </div>
    </div>
  </div>
</div>


<app-stack></app-stack>

<!--contact modal-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal-contact">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-contact></app-contact>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


